<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Test-Orders Spring Boot Web Application</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/simpleStyle.css">

</head>
<body>

	<form id="uploadFile" action="/submit" method="post"
		th:object="${orderInformation}" enctype="multipart/form-data">

		<div class="container align-items-center width250 center-form">

			<div class="form-group">
				<label for="brokerConnection">Connection string to the
					broker:</label> <input type="text" id="brokerConnection"
					class="form-control mx-sm-3" name="brokerConnection"
					th:value="${orderInformation.brokerConnection}">
			</div>

			<div class="form-group">
				<label for="brokerUsername">Username for the broker:</label> <input
					type="text" id="brokerUsername" class="form-control"
					name="brokerUsername" th:value="${orderInformation.brokerUsername}">
			</div>

			<div class="form-group">
				<label for="brokerPassword">Password for the broker:</label> <input
					id="brokerPassword" type="password" class="form-control"
					name="brokerPassword" th:value="${orderInformation.brokerPassword}">
			</div>

			<div class="form-group">
				<label for="brokerDestination">Destination name for the
					broker:</label> <input type="text" name="brokerDestination"
					class="form-control"
					th:value="${orderInformation.brokerDestination}">
			</div>

			<div class="form-group">
				<input id="topic" type="checkbox" name="topic" th:value="topic" th:field="*{topicSelected}">
				<label class="form-check-label" for="topic">Topic</label> 
				<input id="queue" type="checkbox" name="queue" th:value="queue" th:field="*{queueSelected}">
				<label class="form-check-label" for="queue">Queue</label>
			</div>

			<div class="form-group">
				<label> Choose file</label> <input id="chosenXmlFile"
					class="form-control mx-sm-3" type="file" name="file"
					th:field="*{uploadedXmlFile}" accept="text/xml" required>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-primary">
			</div>
		</div>
	</form>

	<!-- js scripts -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>